<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="criterioDeBusqueda"
        placeholder="Ingresar un criterio de busqueda...">
    <br>
    <input type="text" class="form-control"  v-model="criterioDeBusquedaNombre"
    placeholder="Ingresar un criterio de busqueda por nombre y apellido...">
    <br>
    <input type="text" class="form-control" v-model="criterioDeBusquedaDni"
    placeholder="Ingresar un criterio de busqueda por dni...">
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda: '',
            criterioDeBusquedaNombre: '',
            criterioDeBusquedaDni: '',
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Matias",
                    apellido: "Habibo",
                    correo: "mmhh@gmail.com",
                    dni: "11112222"
                },
                {
                    nombre: "Jose",
                    apellido: "Lopez",
                    correo: "jjll@gmail.com",
                    dni: "88889999"
                },
                {
                    nombre: "Manuel",
                    apellido: "Rodriguez",
                    correo: "manu@gmail.com",
                    dni: "55554444"
                },
            ]

        },
        computed: {
            personasFiltradas() {
                return this.personas.filter((persona) => {
                    let registroCompleto = `${persona.nombre} ${persona.apellido} ${persona.dni} ${persona.correo}`
                    let registroCompleto1 = `${persona.nombre} ${persona.apellido}`
                    let registroCompleto2 = `${persona.dni}`
                    return registroCompleto.toLowerCase().includes(this.criterioDeBusqueda.toLowerCase()) && 
                    registroCompleto1.toLowerCase().includes(this.criterioDeBusquedaNombre.toLowerCase()) &&
                    registroCompleto2.toLowerCase().includes(this.criterioDeBusquedaDni.toLowerCase())
                });
            },
        //     checkLength(el) {
        //         if (el.value.length != 4) {
        //             alert("Minimum 10 numbers are accepted");
        //             }
        // },
    },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            }
        }
    });
</script>